body {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(22,79,215,255);
    margin: 0;
    padding: 0;
    color: rgba(22,79,215,255);

}
.blue-text {
    background-color: white;
}
.darkblue-bg {
    background-color: rgba(11,24,54,255);
    color: white;
}
.height-30 {
    min-height: 30vh;

}
.mid {
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-1 {
    padding: 10px;
}
.star {
    width:5vw;
    height: auto;
}
.only-center {
    display: flex;
    justify-content: center;
    /* margin: 10px; */
}
h1 {
    font-size: 58px;
    margin: 10px; 
    cursor: default;
}

.profile-photo {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 25vw;

    height: auto;
}
/* .white-bg-body {
    width: 70vw;
    background-color: white;
    font-size: 35px;
    padding: 5%;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    cursor: default;
} */

.white-bg-body {
    width: 70vw;
    background-color: white;
    font-size: 35px;
    padding: 3% 0 3% 0;

    margin: 10px;
    flex-direction: column;
    align-items: center;
    cursor: default;
    background-image: url('/img/bg.png'); /* URL of the background image */
    background-repeat: no-repeat; /* Ensures the image is displayed only once */
    background-position: center; /* Centers the image */
    background-size: 60vw auto; /* Adjust the width and height of the image */
    background-attachment: fixed; /* Keeps the image fixed when scrolling */
    opacity: 0.8; /* Controls the transparency of the entire element */
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    padding: 1%;
}
a {
    text-decoration: none; 
    color: inherit; /* Inherits the color from the parent element */
    outline: none;
}

.red-text {
    color: rgba(190,11,50,255);
    
}

p{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 0 3% 0 3%;
}
.video {
    aspect-ratio: 16/9; width: 70%;
    margin-bottom: 10px;
}
.lgbtq {
    
    background: linear-gradient(
        to bottom,
        rgba(229, 0, 0, 0.3) 0%,
        rgba(255, 141, 0, 0.3) 16.67%,
        rgba(255, 238, 0, 0.3) 33.33%,
        rgba(2, 129, 33, 0.3) 50%,
        rgba(0, 76, 255, 0.3) 66.67%,
        rgba(119, 0, 136, 0.3) 83.33%
      );
}
.signature {width: 25vw; height: auto;}

@media (max-width: 900px) {
    .white-bg-body {
        width: auto;
        margin: 0;
        background-size: 90vw auto;
    }
    .profile-photo {
        width: 100vw;

    }
    .star {
        width:15vw;
    }
    h1 {
        font-size: 40px;
        
    }
    .white-bg-body {
        font-size: 25px;
    }
    .signature {
width: 55vw;
    }
    .video {width: 100%;}
}
